@import "tailwindcss";

@theme {
    --color-primary: #E9C400;
    --color-secondary: #800000;

    --breakpoint-xs: 30rem;
}

/* Para navegadores basados en WebKit (Chrome, Safari, Edge, Opera) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  scroll-behavior: smooth;
} 